.Controls {
  background: white;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 20px 5px #949494;
}
